.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  &__item {
    padding: 10px;
    border-radius: 0px !important;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08) !important;

    &-header {
    }

    &-wrapper {
    }

    &-content {
      margin-top: 10px;
    }
  }
}

//Remove margin upon opening the acoordion
.mat-expansion-panel-spacing {
  margin: 0px !important;
}

//Remove bottom padding when the accordion is open
::ng-deep .mat-expansion-panel-body {
  padding-bottom: 0px !important;
}

.block {
  &-element {
    background-color: red;
  }
}
