<mat-accordion class="accordion" multi>
  <mat-expansion-panel class="accordion__item">
    <mat-expansion-panel-header class="accordion__item-header">
      <mat-panel-title> <h2 class="h3">Coffee analysis</h2> </mat-panel-title>
    </mat-expansion-panel-header>
    <hr />
    <div class="accordion__item-content">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="accordion__item">
    <mat-expansion-panel-header class="accordion__item-header">
      <mat-panel-title> <h2 class="h3">Panel 2</h2></mat-panel-title>
    </mat-expansion-panel-header>
    <hr />
    <div class="accordion__item-content">
      <mat-slider min="1" max="5" step="0.5" value="1.5">
        <input matSliderThumb />
      </mat-slider>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="accordion__item">
    <mat-expansion-panel-header class="accordion__item-header">
      <mat-panel-title> <h2 class="h3">Panel 3</h2></mat-panel-title>
    </mat-expansion-panel-header>
    <hr />
    <div class="accordion__item-content">
      <p>Content for Panel 3 goes here.</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
