<!-- <mat-accordion class="accordion" multi>
  <mat-expansion-panel class="accordion__item">
    <mat-expansion-panel-header class="accordion__item-header">
      <mat-panel-title> <h2 class="h3">Coffee analysis</h2> </mat-panel-title>
    </mat-expansion-panel-header>
    <hr />

  </mat-expansion-panel>
  <mat-expansion-panel class="accordion__item">
    <mat-expansion-panel-header class="accordion__item-header">
      <mat-panel-title> <h2 class="h3">Panel 2</h2></mat-panel-title>
    </mat-expansion-panel-header>
    <hr />
    <div class="accordion__item-content">
      <mat-slider min="1" max="5" step="0.5" value="1.5">
        <input matSliderThumb />
      </mat-slider>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="accordion__item"> 
    <mat-expansion-panel-header class="accordion__item-header">
      <mat-panel-title> <h2 class="h3">Panel 3</h2></mat-panel-title>
    </mat-expansion-panel-header>
    <hr />
    <div class="accordion__item-content">
      <p>Content for Panel 3 goes here.</p>
    </div>
  </mat-expansion-panel>
</mat-accordion> -->

<button mat-button (click)="openDialog()">Select items</button>

<app-graph
  [chartData]="lineChartData"
  [chartOptions]="lineChartOptions"
></app-graph>

<mat-form-field>
  <input
    matInput
    [matDatepicker]="picker"
    [formControl]="dateControl"
    placeholder="Choose a date"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select [(ngModel)]="selectedTimeResolution">
    <mat-option
      *ngFor="let timeresolution of timeresolutions"
      [value]="timeresolution.value"
    >
      {{ timeresolution.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="p">{{ selectedTimeResolution }}</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Establishment name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button>Select</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
