<form [formGroup]="applyForm" (submit)="onSubmit()">
  <label for="first-name">Last name</label>
  <input id="first-name" type="text" formControlName="firstName" />

  <label for="last-name">Last Name</label>
  <input id="last-name" type="text" formControlName="lastName" />

  <ng-container *ngIf="buttonColor === 'blue'">
    <button [ngStyle]="{ 'background-color': buttonColor }">Blue Button</button>
  </ng-container>

  <ng-container *ngIf="buttonColor === 'red'">
    <button [ngStyle]="{ 'background-color': buttonColor }">Red Button</button>
  </ng-container>
</form>
