<h1>Sales statistics</h1>

<mat-accordion class="accordion" multi>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title><h2>Sales vs weather</h2></mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-stroked-button (click)="onSettings()">Settings</button>
    <app-table [tableModel]="TemperatureTableModel"></app-table>
    <hr />
    <mat-accordion class="accordion" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Clustered sales data</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion class="accordion" multi>
          <div
            *ngFor="
              let tableModel of TemperatureSaleTableModel | async;
              let i = index
            "
          >
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Cluster {{ i + 1 }}</mat-panel-title>
              </mat-expansion-panel-header>
              <app-table
                [tableModel]="tableModel"
                [addPaginator]="true"
              ></app-table>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
