<div *ngFor="let groups of data">
  <div *ngFor="let group of groups.groups">
    <h2>{{ group.title }}</h2>
    <div *ngFor="let input of group.items">
      {{ input.id }}
      <div *ngIf="input; instanceof: CheckBoxData">
        <mat-checkbox [(ngModel)]="input.selected">
          {{ input.name }}
        </mat-checkbox>
      </div>
    </div>
  </div>

  <!-- <mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

  <button mat-button (click)="onOkClick()">OK</button>
  <!-- <input
    type="checkbox"
    name="itemCheckbox"
    [value]="item.id"
    [(ngModel)]="item.selected"
  />
  />
  {{ item.name }} -->
</div>
