<table mat-table [dataSource]="tableModel.elements">
  <ng-container *ngFor="let column of GetColumns()" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>

    <td mat-cell *matCellDef="let element">
      <!-- Check the type of element and render different content accordingly -->
      <ng-container
        *ngIf="
          getTypeOfTableElement(GetRowElement(element, column)) ===
            'TableButton';
          else otherContent
        "
      >
        <button
          (click)="GetTableButton(GetRowElement(element, column)).onClick()"
        >
          Fak off
        </button>
      </ng-container>

      <ng-template #otherContent>
        {{ GetTableString(GetRowElement(element, column)).value }}
        <!-- Render content for other types -->
      </ng-template>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="GetColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: GetColumns()"></tr>
</table>
