<div class="login-container">
  <div class="login-card">
    <h1>Login</h1>
    <hr />
    <form class="login-form" [formGroup]="loginFormDef" (submit)="onLogin()">
      <div class="text-input-group">
        <label for="name">Username</label>
        <input id="name" type="text" formControlName="name" />
      </div>
      <div class="text-input-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
      </div>
      <button id="login-form-submit" class="primary">Login</button>
    </form>
  </div>
</div>
