<div class="page-wrapper">
  <h1 class="h2">Correlation analysis</h1>
  <div class="page-box">
    <div class="page-box__header">
      <h2 class="h3">Correlation to temperature</h2>
    </div>
    <hr />
    <div class="page-box__content">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
        maxime vel voluptatem! Aperiam, eius, sint nemo perferendis voluptas
        magnam recusandae nam id totam, atque vero sapiente. Ipsam sint
        consequatur itaque.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
        maxime vel voluptatem! Aperiam, eius, sint nemo perferendis voluptas
        magnam recusandae nam id totam, atque vero sapiente. Ipsam sint
        consequatur itaque.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
        maxime vel voluptatem! Aperiam, eius, sint nemo perferendis voluptas
        magnam recusandae nam id totam, atque vero sapiente. Ipsam sint
        consequatur itaque.
      </p>
    </div>
  </div>
</div>
