<h1>Cross correlation</h1>
<button mat-stroked-button (click)="onFilterSales()">Filter sales</button>
<button mat-stroked-button (click)="onGraphSettings()">Graph settings</button>
<button mat-stroked-button (click)="onLoad()">Load all</button>

<div *ngFor="let collection of collectionOfImplementaions">
  <mat-accordion class="accordion" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          ><h2>{{ collection.title }}</h2></mat-panel-title
        >
      </mat-expansion-panel-header>
      <div *ngFor="let dialog of collection.dialogs">
        <button mat-stroked-button (click)="dialog.action(collection.command)">
          Settings
        </button>
      </div>
      <app-graph
        *ngIf="collection.graphModel"
        [chartType]="collection.graphModel.chartType"
        [chartData]="collection.graphModel.chartData"
        [chartOptions]="collection.graphModel.chartOptions"
      ></app-graph>

      <hr />
      <mat-expansion-panel [disabled]="!collection.tableModel">
        <mat-expansion-panel-header>
          <mat-panel-title><h2>Correlations and shifts</h2></mat-panel-title>
        </mat-expansion-panel-header>
        <app-table
          *ngIf="collection.tableModel"
          [tableModel]="collection.tableModel"
        ></app-table>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-accordion>
</div>
