<h1>Cross correlation</h1>
<button mat-stroked-button (click)="onFilterSales()">Filter sales</button>
<button mat-stroked-button (click)="onGraphSettings()">Graph settings</button>
<button mat-stroked-button (click)="onLoad()">Go</button>

<div *ngFor="let collection of FetchDictionary">
  <mat-accordion class="accordion" multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title><h2>Sale vs. Temperature</h2></mat-panel-title>
      </mat-expansion-panel-header>

      <app-graph
        [chartType]="collection.graphModel.chartType"
        [chartData]="collection.graphModel.chartData"
        [chartOptions]="collection.graphModel.chartOptions"
      ></app-graph>
    </mat-expansion-panel>
  </mat-accordion>
</div>
